#Everything {
    height: 98vh;
}

#Jumpscare {
    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #140720;
}

.GrassBackground {
    background-color: #efecca;
}

.Fullscreen {
    padding: 5px;
    height: 96vh;
    width: 98vw;
}