.triangle {
    width: 600px;
    height: auto;
}
.big_cow {
    font-size: 24px;
    margin: 20px;
  background: none;
  border: none;
}

.special_cow {
  font-size: 20px;
  position: fixed;
  top: 80vh;
  left: 18vw;
  background: none;
  border: none;
  width: 120px;
  height: 100px;
}

.little_cow {
  font-size: 20px;
  position: fixed;
  top: 80vh;
  left: 73vw;
  background: none;
  border: none;
  width: 120px;
  height: 100px;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}